// variables, mixins, and any utility classes

//colors
$background-color: #f7f7fb;
$sider-bg-color: #ffffff;

//navigation colors
$primary-color: #4a4a4a;
$background-color: #f8f8f8;
$hover-color: #e0e0e0;

// typography
$font-family: "Plus Jakarta Sans", sans-serif;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

//color variables for saving plan
$blue: #4a90e2;
$orange: #f5a623;
$green: #7ed321;
$background: #f5f7fa;
$text-primary: #333;
$text-secondary: #888;

// layout
@mixin three-column-layout($left: 280px, $right: 350px, $gap: 32px) {
  display: grid;
  grid-template-columns: $left 1fr $right;
  grid-template-areas: "sidebar main right-sider";
  height: 100vh;
  gap: $gap;
}

@mixin custom-margin-border(
  $margin: 2rem 1.90625rem,
  $border-color: rgba(13, 22, 58, 0.3)
) {
  margin: $margin;
  border: none;
  border-top: 0.0625rem solid $border-color;
}

@mixin card-style($bg-color: #4745a4, $border: none) {
  background: $bg-color;
  color: white;
  border-radius: 14px;
  border: $border;
  padding: 20px;
  display: flex;
  flex-direction: column;
  &:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease-in-out;
  }
}

@mixin section-header {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #0d163a;
}

@mixin common-card-utility {
  &--balance {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__comparison-icon {
    margin-right: 4px;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 9px;
  }
}

@mixin divider($border: 0.0625rem solid rgba(255, 255, 255, 0.2)) {
  margin: 21.25px 0 21.25px 0;
  border: none;
  border-top: $border;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin large-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}
