// variables, mixins, and any utility classes

//colors
$background-color: #f7f7fb;
$sider-bg-color: #ffffff;

//navigation colors
$primary-color: #4a4a4a;
$background-color: #f8f8f8;
$hover-color: #e0e0e0;

// typography
$font-family: "Plus Jakarta Sans", sans-serif;
$font-weight: (
  "regular": 400,
  "medium": 500,
  "semibold": 600,
  "bold": 700,
);

@mixin large-screen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mobile-screen {
  @media screen and (max-width: 767px) {
    @content;
  }
}

// layout

@mixin three-column-layout($left: 280px, $right: 350px, $gap: 32px) {
  display: grid;
  grid-template-columns: $left 1fr $right;
  grid-template-areas: "sidebar main right-sider";
  height: 100vh;
  gap: $gap;
}
