@import "../scss/base";

.card {
  @include card-style(#4745a4, none);

  @include common-card-utility;

  &__icon {
    border: 1px solid rgba(222, 222, 222, 0.2);
    border-radius: 50%;
    @include flex-center;
    padding: 8px;
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 9px;
  }

  &__comparison {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: 400;
    font-family: $font-family;
    font-size: 12px;
    opacity: 0.6;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__amount {
    color: #fff;
    letter-spacing: -2px;
    font-size: 28px;
    font-weight: 600;
    font-family: $font-family;
  }

  &__divider {
    @include divider();
  }
}

.card--saving {
  .card {
    @include card-style(#ffffff, 1px solid rgba(222, 222, 222, 0.7));

    @include common-card-utility;

    &__icon {
      border: 1px solid rgba(222, 222, 222, 0.2);
      border-radius: 50%;
      @include flex-center;
      padding: 8px;
    }

    &__title {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 9px;
      color: #0d163a;
    }

    &__comparison {
      display: flex;
      align-items: center;
      color: #0d163a;
      font-weight: 400;
      font-family: $font-family;
      font-size: 12px;
      opacity: 0.6;
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__amount {
      color: #0d163a;
      letter-spacing: -2px;
      font-size: 28px;
      font-weight: 600;
      font-family: $font-family;
    }

    &__divider {
      @include divider();
    }
  }
}
