@import "_base.scss";
@import "_components.scss";

html {
  font-family: $font-family;
}

body {
  background-color: $background-color;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  .search__form {
    display: flex;
    align-items: center;
    background: #ffffff;
    padding: 0.625rem 0.9375rem;
    border-radius: 2rem;
    width: 100%;
    .search__icon {
      margin-right: 0.625rem;
    }

    input {
      border: none;
      background: transparent;
      outline: none;
      flex-grow: 1;
      font-size: 1rem;
      color: #667085;

      &::placeholder {
        color: #667085;
      }
    }
  }
}

@include large-screen {
  .wrapper {
    @include three-column-layout();
    .main {
      padding: 2rem 0;
      grid-area: main;
      .overview {
        background-color: #fff;
        margin-top: 2rem;
        padding: 1rem;
        &__title {
          @include section-header;
          margin-bottom: 2rem;
        }

        &__cards {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 18px;
        }
      }
    }
    .sidebar {
      grid-area: sidebar;
      background: $sider-bg-color;
      width: 17.5rem;
      padding: 2rem 0;
      &__logo {
        background-color: #d9d9d9;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.875rem 4.8125rem;
        margin: 0 4.125rem 0 2.25rem;
        img {
          cursor: pointer;
        }
      }

      &__nav {
        flex-grow: 1;
        margin: 2rem 0;
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          background: $sider-bg-color;

          li {
            a {
              display: flex;
              align-items: center;
              gap: 1rem;
              font-size: 1rem;
              padding: 1.25rem 0 1.25rem 3.0625rem;
              text-decoration: none;
              color: $primary-color;
              font-weight: map-get($font-weight, "regular");
              &:hover {
                background: $hover-color;
              }
            }

            &.active a {
              font-weight: map-get($font-weight, "semibold");
              color: #0d163a;
              font-size: 1rem;
              letter-spacing: 0.03em;
            }
          }
        }

        hr {
          @include custom-margin-border();
        }
      }
    }

    .right-sider {
      grid-area: right-sider;
      padding: 2rem 0;
    }
  }
}

@include mobile-screen {
  .wrapper {
    .sidebar {
      display: none;
    }
  }
}
