.card {
  background: #4745a4;
  color: white;
  border-radius: 14px;
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.card--balance {
  display: flex;
  flex-direction: column;
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card__comparison-icon {
  margin-right: 4px;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card__icon {
  border: 1px solid rgba(222, 222, 222, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 9px;
}
.card__comparison {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__amount {
  color: #fff;
  letter-spacing: -2px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.card__divider {
  margin: 21.25px 0 21.25px 0;
  border: none;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.card--saving .card {
  background: #ffffff;
  color: white;
  border-radius: 14px;
  border: 1px solid rgba(222, 222, 222, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card--saving .card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.card--saving .card--balance {
  display: flex;
  flex-direction: column;
}
.card--saving .card__info {
  display: flex;
  flex-direction: column;
}
.card--saving .card__comparison-icon {
  margin-right: 4px;
}
.card--saving .card__header {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card--saving .card__icon {
  border: 1px solid rgba(222, 222, 222, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.card--saving .card__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 9px;
  color: #0d163a;
}
.card--saving .card__comparison {
  display: flex;
  align-items: center;
  color: #0d163a;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.card--saving .card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card--saving .card__amount {
  color: #0d163a;
  letter-spacing: -2px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.card--saving .card__divider {
  margin: 21.25px 0 21.25px 0;
  border: none;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main .header {
  margin-top: 2rem;
}
.main .header .search__form {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 20px;
  border-radius: 2rem;
  width: 100%;
}
.main .header .search__form .search__icon {
  margin-right: 10px;
}
.main .header .search__form input {
  border: none;
  background: transparent;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  color: #667085;
}
.main .header .search__form input::placeholder {
  color: #667085;
}

.analytics {
  background-color: #fff;
  margin-top: 2rem;
  padding: 20px;
  border-radius: 14px;
}
.analytics__title {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #0d163a;
  margin-bottom: 2rem;
}
.analytics .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.analytics .header h1 {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #0d163a;
  margin-bottom: 2rem;
}
.analytics .header .dropdown {
  display: flex;
  gap: 32px;
}
.analytics .header .dropdown select {
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  color: rgb(124, 124, 124);
}
.analytics .header .dropdown select:hover {
  background-color: #f0f0f0;
}
.analytics .header .legend {
  display: flex;
  gap: 32px;
  align-items: center;
}
.analytics .header .legend .legend-item {
  display: flex;
  align-items: center;
  gap: 12px;
}
.analytics .header .legend .dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
}
.analytics .header .legend .dot.purple {
  background-color: #4745a4;
}
.analytics .header .legend .dot.yellow {
  background-color: #f8cd70;
}
.analytics .header .legend .label {
  font-size: 14px;
  color: rgb(13, 22, 58);
  font-weight: 500;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.analytics .chart-container {
  background-color: #fff;
  height: 304px;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 0 2rem 0 0;
    display: grid;
    grid-template-columns: 280px 1fr 350px;
    grid-template-areas: "sidebar main right-sider";
    height: 100vh;
    gap: 32px;
  }
  .wrapper .main {
    grid-area: main;
  }
  .wrapper .main .hamburger {
    display: none;
  }
  .wrapper .main .overview {
    background-color: #fff;
    margin-top: 2rem;
    border-radius: 14px;
    padding: 1rem;
  }
  .wrapper .main .overview__title {
    font-size: 1.25rem;
    letter-spacing: -0.0625rem;
    font-weight: 700;
    color: #0d163a;
    margin-bottom: 2rem;
  }
  .wrapper .main .overview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    gap: 18px;
  }
  .wrapper .sidebar {
    grid-area: sidebar;
    padding: 2rem 0;
    background: #ffffff;
    width: 17.5rem;
  }
  .wrapper .sidebar__logo {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 4.8125rem;
    margin: 0 4.125rem 0 2.25rem;
  }
  .wrapper .sidebar__logo img {
    cursor: pointer;
  }
  .wrapper .sidebar__nav {
    flex-grow: 1;
    margin: 2rem 0;
  }
  .wrapper .sidebar__nav--bottom {
    margin-top: auto;
  }
  .wrapper .sidebar__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
  }
  .wrapper .sidebar__nav ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1.25rem 0 1.25rem 3.0625rem;
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 400;
  }
  .wrapper .sidebar__nav ul li a:hover {
    background: #e0e0e0;
  }
  .wrapper .sidebar__nav ul li.active {
    border-left: 4px solid #4745a4;
  }
  .wrapper .sidebar__nav ul li.active a {
    font-weight: 600;
    color: #0d163a;
    font-size: 1rem;
    letter-spacing: 0.03em;
  }
  .wrapper .sidebar__nav hr {
    margin: 2rem 1.90625rem;
    border: none;
    border-top: 0.0625rem solid rgba(13, 22, 58, 0.3);
  }
  .wrapper .right-sider {
    grid-area: right-sider;
    margin-top: 2rem;
  }
  .wrapper .right-sider .right-sider-container {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  .wrapper .right-sider .profile-nav {
    padding: 8px;
    display: flex;
    background-color: #ffffff;
    border-radius: 100px;
    gap: 10px;
  }
  .wrapper .right-sider .profile-nav .nav-icons {
    padding: 12px 21px;
    border: 1px solid #dedede;
    border-radius: 30px;
  }
  .wrapper .right-sider .profile-nav .user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .wrapper .right-sider .profile-nav .user__name {
    color: rgb(13, 22, 58);
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
  }
  .wrapper .right-sider .profile-nav .user__profile {
    padding: 12.5px;
    border-radius: 50%;
    border: 1px solid #dedede;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
@media screen and (max-width: 767px) {
  .wrapper .hamburger {
    padding: 10px;
    margin: 4px;
    float: right;
  }
  .wrapper .sidebar {
    position: fixed;
    left: -350px;
    top: 0;
    width: 250px;
    height: 100vh;
    background: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    transition: left 0.3s ease-in-out;
  }
  .wrapper .sidebar.open {
    left: 0;
  }
  .wrapper .analytics .legend {
    display: block;
  }
  .wrapper .main {
    grid-area: main;
  }
  .wrapper .main .overview {
    background-color: #fff;
    margin-top: 1rem;
    border-radius: 14px;
    padding: 1rem;
  }
  .wrapper .main .overview__title {
    font-size: 1.25rem;
    letter-spacing: -0.0625rem;
    font-weight: 700;
    color: #0d163a;
    margin-bottom: 2rem;
  }
  .wrapper .main .overview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(333px, 1fr));
    gap: 18px;
  }
  .wrapper .sidebar {
    grid-area: sidebar;
    padding: 1rem 0;
    background: #ffffff;
    width: 17.5rem;
  }
  .wrapper .sidebar__logo {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 4.8125rem;
    margin: 0 4.125rem 0 2.25rem;
  }
  .wrapper .sidebar__logo img {
    cursor: pointer;
  }
  .wrapper .sidebar__nav {
    flex-grow: 1;
    margin: 1rem 0;
  }
  .wrapper .sidebar__nav--bottom {
    margin-top: auto;
  }
  .wrapper .sidebar__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
  }
  .wrapper .sidebar__nav ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1.25rem 0 1.25rem 3.0625rem;
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 400;
  }
  .wrapper .sidebar__nav ul li a:hover {
    background: #e0e0e0;
  }
  .wrapper .sidebar__nav ul li.active {
    border-left: 4px solid #4745a4;
  }
  .wrapper .sidebar__nav ul li.active a {
    font-weight: 600;
    color: #0d163a;
    font-size: 1rem;
    letter-spacing: 0.03em;
  }
  .wrapper .sidebar__nav hr {
    margin: 2rem 1.90625rem;
    border: none;
    border-top: 0.0625rem solid rgba(13, 22, 58, 0.3);
  }
  .wrapper .right-sider {
    grid-area: right-sider;
    margin-top: 1rem;
  }
  .wrapper .right-sider .right-sider-container {
    display: flex;
    gap: 32px;
    flex-direction: column;
  }
  .wrapper .right-sider .profile-nav {
    padding: 8px;
    display: flex;
    background-color: #ffffff;
    border-radius: 100px;
    gap: 10px;
  }
  .wrapper .right-sider .profile-nav .nav-icons {
    padding: 12px 21px;
    border: 1px solid #dedede;
    border-radius: 30px;
  }
  .wrapper .right-sider .profile-nav .user {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .wrapper .right-sider .profile-nav .user__name {
    color: rgb(13, 22, 58);
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;
  }
  .wrapper .right-sider .profile-nav .user__profile {
    padding: 12.5px;
    border-radius: 50%;
    border: 1px solid #dedede;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.savings-container {
  background: #fff;
  border-radius: 10px;
  border-radius: 14px;
  padding: 16px;
}
.savings-container hr {
  margin: 24px 0px;
  border: none;
  border-top: 0.0625rem solid rgba(13, 22, 58, 0.1);
}
.savings-container .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.savings-container .header h2 {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #0d163a;
  font-size: 20px;
}
.savings-container .header .see-all {
  font-size: 16px;
  color: #4745a4;
  text-decoration: none;
  font-weight: 500;
}
.savings-container .savings-item {
  padding: 8px;
}
.savings-container .savings-item:not(:last-child) {
  margin-bottom: 16px;
}
.savings-container .savings-item .savings-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}
.savings-container .savings-item .savings-info .title {
  font-size: 16px;
  font-weight: medium;
  color: #0d163a;
}
.savings-container .savings-item .savings-info .date {
  font-size: 12px;
  color: rgba(13, 22, 58, 0.6);
}
.savings-container .savings-item .savings-amount {
  font-size: 14px;
  color: rgba(13, 22, 58, 0.5);
  margin-bottom: 12px;
  letter-spacing: -1px;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}
.savings-container .savings-item .savings-amount .current {
  color: #0d163a;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: -1px;
}
.savings-container .savings-item .progress-bar {
  width: 100%;
  height: 8px;
  background: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 5px;
}
.savings-container .savings-item .progress-bar .progress {
  height: 100%;
  transition: width 0.3s ease;
  width: 48%;
  border-radius: 10px;
}
.savings-container .savings-item .progress-bar .progress.blue {
  background: #4745a4;
}
.savings-container .savings-item .progress-bar .progress.orange {
  background: #f5a623;
}
.savings-container .savings-item .progress-bar .progress.green {
  background: #7ed321;
}
.savings-container .savings-item .percentage {
  color: #0d163a;
  font-weight: 600;
  font-size: 18px;
  text-align: right;
  letter-spacing: -1px;
}
.savings-container .savings-item .percentage.orange {
  color: #f5a623;
}
.savings-container .savings-item .percentage.green {
  color: #7ed321;
}

.transaction-container {
  margin: 16px;
  background-color: #fff;
  border-radius: 14px;
  padding: 20px;
}
.transaction-container .transaction-item:not(:last-child) {
  margin-bottom: 25px;
}
.transaction-container hr {
  margin: 24px 0px;
  border: none;
  border-top: 0.0625rem solid rgba(13, 22, 58, 0.1);
}
.transaction-container .transaction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.transaction-container .transaction-header h2 {
  font-size: 1.25rem;
  letter-spacing: -0.0625rem;
  font-weight: 700;
  color: #0d163a;
  font-size: 20px;
}
.transaction-container .transaction-header .see-all {
  font-size: 16px;
  color: #4745a4;
  text-decoration: none;
  font-weight: 500;
}
.transaction-container .transaction-header .see-all:hover {
  text-decoration: underline;
}
.transaction-container .transaction-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.transaction-container .transaction-list .transaction-item {
  display: flex;
  align-items: center;
  gap: 15px;
}
.transaction-container .transaction-list .transaction-item .profile-pic {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
}
.transaction-container .transaction-list .transaction-item .transaction-details {
  flex: 1;
}
.transaction-container .transaction-list .transaction-item .transaction-details .name {
  font-size: 18px;
  font-weight: 600;
  color: #0d163a;
  margin-bottom: 4px;
}
.transaction-container .transaction-list .transaction-item .transaction-details .date {
  font-size: 12px;
  color: #0d163a;
  letter-spacing: -1px;
  opacity: 0.5;
}
.transaction-container .transaction-list .transaction-item .transaction-status {
  text-align: right;
}
.transaction-container .transaction-list .transaction-item .transaction-status .amount {
  font-size: 18px;
  font-weight: 500;
  color: #0d163a;
}
.transaction-container .transaction-list .transaction-item .transaction-status .status {
  font-size: 12px;
  color: #3bbb6e;
  letter-spacing: -1px;
  font-weight: 600;
}
.transaction-container .transaction-list .transaction-item .transaction-status .status.completed {
  color: #28a745;
}/*# sourceMappingURL=main.css.map */