.card {
  background: #4745a4;
  color: white;
  border-radius: 14px;
  border: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.card--balance {
  display: flex;
  flex-direction: column;
}
.card__info {
  display: flex;
  flex-direction: column;
}
.card__comparison-icon {
  margin-right: 4px;
}
.card__header {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card__icon {
  border: 1px solid rgba(222, 222, 222, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.card__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 9px;
}
.card__comparison {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__amount {
  color: #fff;
  letter-spacing: -2px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.card__divider {
  margin: 21.25px 0 21.25px 0;
  border: none;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

.card-saving {
  background: "";
  color: white;
  border-radius: 14px;
  border: 1px solid rgba(222, 222, 222, 0.7);
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.card-saving:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease-in-out;
}
.card-saving--balance {
  display: flex;
  flex-direction: column;
}
.card-saving__info {
  display: flex;
  flex-direction: column;
}
.card-saving__comparison-icon {
  margin-right: 4px;
}
.card-saving__header {
  display: flex;
  align-items: center;
  gap: 9px;
}
.card-saving__icon {
  border: 1px solid rgba(222, 222, 222, 0.2);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}
.card-saving__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 9px;
}
.card-saving__comparison {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-weight: 400;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 12px;
  opacity: 0.6;
}
.card-saving__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-saving__amount {
  color: #fff;
  letter-spacing: -2px;
  font-size: 28px;
  font-weight: 600;
  font-family: "Plus Jakarta Sans", sans-serif;
}
.card-saving__divider {
  margin: 21.25px 0 21.25px 0;
  border: none;
  border-top: 0.0625rem solid rgba(255, 255, 255, 0.2);
}

html {
  font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  background-color: #f8f8f8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header .search__form {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 0.625rem 0.9375rem;
  border-radius: 2rem;
  width: 100%;
}
.header .search__form .search__icon {
  margin-right: 0.625rem;
}
.header .search__form input {
  border: none;
  background: transparent;
  outline: none;
  flex-grow: 1;
  font-size: 1rem;
  color: #667085;
}
.header .search__form input::placeholder {
  color: #667085;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: 280px 1fr 350px;
    grid-template-areas: "sidebar main right-sider";
    height: 100vh;
    gap: 32px;
  }
  .wrapper .main {
    padding: 2rem 0;
    grid-area: main;
  }
  .wrapper .main .overview {
    background-color: #fff;
    margin-top: 2rem;
    padding: 1rem;
  }
  .wrapper .main .overview__title {
    font-size: 1.25rem;
    letter-spacing: -0.0625rem;
    font-weight: 700;
    color: #0d163a;
    margin-bottom: 2rem;
  }
  .wrapper .main .overview__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 18px;
  }
  .wrapper .sidebar {
    grid-area: sidebar;
    background: #ffffff;
    width: 17.5rem;
    padding: 2rem 0;
  }
  .wrapper .sidebar__logo {
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.875rem 4.8125rem;
    margin: 0 4.125rem 0 2.25rem;
  }
  .wrapper .sidebar__logo img {
    cursor: pointer;
  }
  .wrapper .sidebar__nav {
    flex-grow: 1;
    margin: 2rem 0;
  }
  .wrapper .sidebar__nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #ffffff;
  }
  .wrapper .sidebar__nav ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    padding: 1.25rem 0 1.25rem 3.0625rem;
    text-decoration: none;
    color: #4a4a4a;
    font-weight: 400;
  }
  .wrapper .sidebar__nav ul li a:hover {
    background: #e0e0e0;
  }
  .wrapper .sidebar__nav ul li.active a {
    font-weight: 600;
    color: #0d163a;
    font-size: 1rem;
    letter-spacing: 0.03em;
  }
  .wrapper .sidebar__nav hr {
    margin: 2rem 1.90625rem;
    border: none;
    border-top: 0.0625rem solid rgba(13, 22, 58, 0.3);
  }
  .wrapper .right-sider {
    grid-area: right-sider;
    padding: 2rem 0;
  }
}
@media screen and (max-width: 767px) {
  .wrapper .sidebar {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */